* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header,
.bread-btn {
    background-color: gray;
    padding: 50px 112px;
    border-bottom: 1px solid black;
}
.discount-main {
    flex: 1;
}

.container {
    width: 100%;
    // max-width: 1216px;
    // padding: 0px 112px;
    padding-inline:10%;
    margin: auto;
    // min-height: 2000px;
}

.discount-main__product {
}

.discount-product {
    padding-top: 71px;
    position: relative;
    display: flex;
    align-items: flex-start;
    // flex-wrap: wrap;

    gap: 34px;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
    &__left {
        display: flex;
        flex-direction: column;
        // max-width: 40%;
        gap: 66px;
        @media (min-width: 1000px) {
            top: 20px;
            position: sticky;
            padding-top: 24px;
        }
        max-width: 100%;
    }

    &__image {
        display: flex;
        // align-items: center;
        justify-content: space-around;
        gap: 18px;
        max-width: 100%;
    }

    &__image-wrapper {
        // height: 100%;
        // flex: 1;
        & > img {
            max-width: 100%;
            // max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
        position: relative;
        &:nth-child(1) {
            width: 48%;
            @media (max-width: 500px) {
                width: 47.4%;
            }
        }
        &:nth-child(2) {
            flex: 1;
        }
    }

    &__outside-image {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        transform: translateY(-49%);
        width: 100%;
        // height: 100%;
    }

    &__inside-image {
    }

    &__discount {
        position: absolute;
        top: 21px;
        left: 23px;
        background-color: #ee4b4b;
        border-radius: 20px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        padding: 11px;
    }

    &__discritpions {
        display: flex;
        gap: 18px;
        flex-wrap: wrap;
        max-width: 100%;
    }

    &__image-discription {
        h4 {
            border-bottom: 1px solid gray;
            margin-bottom: 17px;
            padding-bottom: 14px;
        }
    }

    &__sub-title {
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
    }

    &__discription-picture {
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 5px;
        margin-bottom: 7px;
        padding-right: 46px;
    }

    &__gray-element {
        color: #9a9a9a;
    }

    &__discription-content {
        white-space: nowrap;
        font-size: inherit;
        font-weight: inherit;
    }

    &__right {
        // min-height: 700px;

        // background-color: #9a9a9a;
        flex: 1;
        position: relative;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 23px;
        white-space: nowrap;
        @media (max-width: 430px) {
            font-size: 18px;   
        }
        @media (max-width: 340px) {
            font-size: 14px;
            font-weight: 700;
        }
        h1 {
            font-size: inherit;
            font-weight: inherit;
            display: inline;
        }
    }
    &__field {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 14px;
    }
    &__criteria {
        font-size: inherit;
        font-weight: inherit;
        display: inline;
    }
    &__value {
        font-size: inherit;
        font-weight: inherit;
        display: inline;
    }
    &__reason {
        background-color: #f5f5f5;
        width: 100%;
        border-radius: 20px;
        margin-top: 16px;
        padding: 13px 19px 19px 19px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__reason-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 19px;
        color: #797FA1 !important;
    }
    &__reason-discription {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    &__reason-images {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
        
        // overflow: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 13px;
        width: 100%;
        // max-width: 800px;
        // height: 200px;
    }
    &__reason-image {
        width: 100%;
        height: 100%;
        // max-width: 200px;
        // aspect-ratio: 1;
        img {
            width: 100%;
            // height: 200px;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
            aspect-ratio: 1;
        }
    }
    &__equipment {
        margin-top: 24px;
    }
    &__equipment-title {
        // border: none;
        margin-bottom: 17px;
    }

    &__equipment-list {
        list-style: none;
    }
    &__equipment-element {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    &__equipment-parametr {
        display: inline;
        font-size: inherit;
        font-weight: inherit;
    }
    &__equipment-value {
        display: inline;
        font-size: inherit;
        font-weight: inherit;
    }
    &__price {
        margin-top: 50px;
        white-space: nowrap;
    }
    &__actual-price {
        color: #ff9a01;
        font-weight: 700;
        font-size: 28px;
        display: inline;
        margin-right: 7px;
    }
    &__old-price {
        display: inline;
        font-weight: 500;
        font-size: 17px;
        color: #7d7a76;
        b {
            font-weight: inherit;
            position: relative;
            &::after {
                content: "";
                border-bottom: #7d7a76 solid 2px;
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-10deg);
            }
        }
    }
    &__services {
        margin-top: 44px;
        width: 100%;
    }
    &__services-title {
        margin-bottom: 28px;
        // border: none;
    }
    &__service-list {
        list-style: none;
        width: 100%;
    }
    &__service-element {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 22px;
        input[type="checkbox"] {
            height: 20px;
            aspect-ratio: 1;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2px;
            background-color: #ffffff; /* Изменение цвета фона */
            appearance: none;
            position: relative; /* Для псевдоэлементов */
            transition: all 0.2s ease; /* Плавное изменение */
            &:hover{
                border-color: #797fa1;
            }
        }
        
        /* Стиль для отмеченного чекбокса */
        input[type="checkbox"]:checked {
            background-color: #797fa1;
            // border-color: #2a3a6b; /* Изменение цвета рамки */
            border: none;
        }

        /* Добавление галочки с помощью псевдоэлемента */
        input[type="checkbox"]:checked::after {
            content: "✓";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
    &__service-name {
        margin-right: 6px;
        margin-left: 11px;
        font-size: 14px;
        font-weight: 400;
    }
    &__service-underline {
        flex: 1;
        border: #000000 1px dashed;
    }
    &__service-price {
        margin-left: 8px;
        font-weight: 500;
        font-size: 14px;
    }
    &__submit {
        margin-top: 38px;
        button {
            background-color: #797fa1;
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
            color: #ffffff;
            border: none;
            padding: 19px 35px;
            cursor: pointer;
            transition: all 0.3s linear 0s;
            &:hover{
                background-color: #979fc9;
            }
        }
    }
    &__save-buttons{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 17px;
        button{
            aspect-ratio: 1;
            width: 30px;
            background-color: #000000;
            cursor: pointer;
        }
    }
}

.discount-main__another-dors {
    background-color: #F5F5F5;
    margin-top: 91px;
}
.another-dors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 102px;
    padding-bottom: 118px;
}
.another-dors__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 39px;
}
.another-dors__list {
    display: flex;
    list-style: none;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    gap: 51px;
}
.another-dors__item {
    height: 400px;
    width: 260px;
    background-color: #ffffff;
}

.discount-main__help-section {
}
.help-section {
    width: 100%;
    padding-top: 76px;
    padding-bottom: 105px;
}
.help-section__wrapper {
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 51px;
}
.help-section__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}
.help-section__title {
    font-size: 40px;
    font-weight: 500;
}
.help-section__answer {
    font-size: 20px;
    font-weight: 400;
}
.help-section__button {
    min-width: 50%;
    padding-block: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        background-color: #000000;
        border-radius: 10px;
        display: flex;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        padding: 20px 27px;
        transition: all 0.3s linear 0s;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #797fa1;
        }
        @media (max-width: 800px) {
            font-size: 24px;
        }
    }
}